# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
backend.hcl

# File for setup reference
reference-configs/
export-prod-config.sh

# Variable files with secrets
*.tfvars
!terraform.tfvars.example

# Lambda packages
*.zip

# Python
__pycache__/
*.py[cod]
*$py.class

# Crash log files
crash.log

# IDE
.vscode/
.idea/

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Node
node_modules/